[submodule "vim/bundle/tpope-vim-pathogen"]
	path = vim/bundle/tpope-vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/altercation-vim-colors-solarized"]
	path = vim/bundle/altercation-vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/nathanaelkane-vim-indent-guides"]
	path = vim/bundle/nathanaelkane-vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/scrooloose-nerdtree"]
	path = vim/bundle/scrooloose-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = git://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
